/* Elizabeth Owens Module 7 */ 
body{
    color: blue;
    background: radial-gradient(gray,white);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: darkred;
    border:3px darkred solid;
    text-align: left;
    background-image: linear-gradient(to right, lightgray, white);
    
}
h1{
    background-color: skyblue;
    border: 2px solid lightblue;
    padding: 5px;
    margin: 3px;
    color: rgb(115, 154, 253)
}
h2{
    background-color: skyblue;
    border: 2px solid lightblue;
    padding: 5px;
    margin: 3px;
    color: rgb(178, 164, 255);
}
h3{
    background-color: skyblue;
    border: 2px solid lightblue;
    padding: 5px;
    margin: 3px;
}
a{
    text-align: center;
    color:antiquewhite;
}
header{
    border-radius:10%;
padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-align: center;
}
nav{
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    list-style: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a{
    display: block;
    color: navy;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 22px;
}
nav a:hover{
    background-color: lightblue;
    color:gray;
}
nav a:focus{
    background-color: lightblue;
    color:gray;
}

footer{
    text-align: center;
    background-image: linear-gradient(to left, lightgray, white);
}

main{
    color: darkblue;
    text-align: center;
}
li{
    text-align:left;
}

#wrapper{
    width: 100%;
    margin: auto auto;
    max-width: 1200px;
    background-color: lightgray;
    border: 2px solid darkgray;
}

.cards{
    display:flex;
    gap:15px;
    margin-top: 15px;
    flex-wrap:wrap;
}
.card{
    background-color:lightgray;
    padding:15px;
    border: 1px solid navy;
    border-radius:10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    flex:1;
    min-width:180px;
}
